@model IEnumerable<Web_Gio_Cha.EF.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    var data = item.Discount;

}
@* Slideshow *@
<div class="row form-group nomargin">
    <div class=" col-md-12 col-sm-12 col-xs-12 slideshow"><img src="/Images/bannerMain.jpg" alt="" style="width:100%;" /></div>
</div>

@* Favourites *@
<div class="row form-group nomargin" style="padding-bottom:15px;    ">
    <div class="col-md-4 col-sm-3 col-xs-3"></div>
    <div class="col-md-4 col-sm-6 col-xs-6 col-xs-12"><span class="Titlesanpham" style="margin-top:10px"> SẢN PHẨM TIÊU BIỂU</span></div>
</div>

@* Product item *@
<div class="row form-group nomargin">
    @foreach (var item in Model)
    {
        var link = "/xem-chi-tiet/" + item.MetaTitle + "/" + item.ID;
        var imglink = item.Image != null ? item.Image : "/Images/demosanpham1.jpg";
        @* Info product *@
        <div class="product col-md-3 col-sm-4 col-xs-6">
            <div class="row nomargin prd-content discount">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="@link"><img class="prd-img" src="@imglink" title="@item.Name" alt="giò chả Vân Bảo" /></a>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p height="20" align="center" class="prd-title break-text" title="@item.Name">@item.Name</p>
                    <p><strong>Giá gốc: <s class="co0066cc money">@item.PriceBefore</s></strong></p>
                    <p><strong style="color: #ff0000">Giá KM: <span class="co0066cc money" style="color:#ff0000">@item.Price</span></strong></p>
                </div>
            </div>

            @* Button *@
            <div class="row nomargin prd-content">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row nomargin">
                        <div class="col-md-6 col-sm-12 col-xs-6 padding-2">
                            <a href="#"><img class="btn-img" src="/Images/btDathang.jpg" alt="" /></a>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-6 padding-2">
                            <a href="#"><img class="btn-img" src="/Images/btBogio.jpg" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>

<script>
    $(document).ready(function () {
        setDiscount();

        // Format money
        $(".money").each(function () {
            var data = WebDuhoc.utility.convertIntToMoney($(this).text());
            $(this).text(data);
        });
        
    });
    function setDiscount() {
        var data = @Html.Raw(Json.Encode(Model.Select(x=>x.Discount)));
        var maxItem = data.length;
        var count = 0;
        $(".discount").each(function () {
            if (count < maxItem) {
                $(this).attr('data-content', data[count] + "%");
                count++;
            }
        });
    }


</script>