@using Web_Gio_Cha.Resources;
@using Web_Gio_Cha.Models.Define;
@using Web_Gio_Cha.EF;

@model TblMenuContent

@{
    ViewBag.Title = AdminLabel.MenuPageRegisterTitle;
    if (@Model.ID != null && @Model.ID > 0)
    {
        ViewBag.Title = AdminLabel.MenuPageEditTitle;
    }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    <script type="text/javascript" src="~/ckeditor4.8/ckeditor.js"></script>
    <script src="/ckfinder/ckfinder.js"></script>
}

<div id="NewsRegister" class="edit-screen">
    @using (Html.BeginForm("Edit", "ManageNews", FormMethod.Post, new { id = "formRegis", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div id="title">@ViewBag.Title</div>
        <input id="ID" name="ID" type="hidden" value="@Model.ID    ">

        <div class="form-group">
            <label class="title-row">@AdminLabel.lblMenuCode <span class="RequiredField">*</span></label>
            @Html.DropDownListFor(m => m.MenuCd, new SelectList(MenuCode.Items, "Key", "Value"), new { @class = "no-margin" })
        </div>
        <div class="form-group">
            <label class="title-row">@AdminLabel.lblContent    <span class="RequiredField">*</span></label>
            @Html.TextBoxFor(m => m.Menu_Content, new { @class = "content" })
        </div>

        <div class="form-group">
            @Html.Label(@AdminLabel.lblStatus, new { @for = "STATUS", @class = "title-row" })
            @if (Model.Status == null || Model.Status == false)
            {
                <input id="Status" type="checkbox">
                <input id="STATUS_HIDDEN" name="Status" type="hidden" value="false">
            }
            else
            {
                <input id="Status" type="checkbox" checked="checked">
                <input id="STATUS_HIDDEN" name="Status" type="hidden" value="true">
            }
        </div>

        <div class="form-group action-button-bottom">
            <button type="button" id="btnBack" name="btnBack" class="btn btn-default"><i class="btn-icon btn-back">@AdminLabel.btnBack    </i></button>
            <div class="pull-right">
                <button type="button" id="btnClear" name="btnClear" class="btn btn-default"><i class="btn-icon btn-clear">@AdminLabel.btnClear    </i></button>
                <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-orange"><i class="btn-icon btn-edit">@AdminLabel.btnRegister    </i></button>
            </div>
        </div>
    }
</div>
<script>
    //CKEDITOR.editorConfig = function (config) {
    //    config.language = 'vi';
    //    config.uiColor = '#F7B42C';
    //    config.height = '500px';
    //    config.width = 450;
    //    config.toolbarCanCollapse = true;
    //    config.entities_latin = false;
    //};
    var UrlMenuList = '@Url.Action("MenuList", "ManageMenuContent")';
    var checkTimeoutUrl = '@Url.Action("CheckTimeOut", "Common")';

    $(function () {
        @*$('#CONTENT').html(@Model.CONTENT);*@

        config = {};
        config.width = 1024;
        config.height = 300;

        //config.toolbarCanCollapse = true;
        config.entities_latin = false;
        config.assets_languages = ['en'];

        CKEDITOR.replace('Menu_Content', config);

        //CKEDITOR.replace('CONTENT', {
        //    filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
        //    filebrowserUploadUrl: '/ckfinder/connector?command=QuickUpload&type=Files'
        //});
        $('[name="Status"][value="@Model.Status"]').prop('checked', true);
        $('#STATUS_HIDDEN').val('@Model.Status');

        // Hiển thị lại dữ liệu từ db
        var html = WebDuhoc.utility.htmlDecode('@Model.Menu_Content');
        CKEDITOR.instances.Menu_Content.setData(html);

    })

    function validateData() {
        var invalidMess = [];

        var menuCd = $('#MenuCd').val();
        var content = CKEDITOR.instances['Menu_Content'].getData();

        if (menuCd == null || menuCd.trim() == "" || menuCd == 0) { // required content
            errDisplay = "Chưa chọn trang hiển thị";
            invalidMess.push(errDisplay);
        }

        if (content == null || content.trim() == "") { // required content
            errDisplay = '@AdminLabel.lblContent' + Constant.ERR_REQUIRED;
            invalidMess.push(errDisplay);
        }

        return invalidMess;
    }

    $(document).off('#Status');
    $(document).on('change', '#Status', function () {
        if ($('#Status').is(":checked")) {
            $('#STATUS_HIDDEN').val(true);
        } else {
            $('#STATUS_HIDDEN').val(false);
        }
    });


    $(document).off('#btnSubmit');
    $(document).on('click', '#btnSubmit', function () {
        var result = WebDuhoc.utility.getDataByAjax(checkTimeoutUrl, null);
        if (!result) return;

        $('.validation-summary-errors').remove();
        var invalidMess = validateData();
        if (invalidMess.length > 0) {
            WebDuhoc.utility.showClientError(invalidMess);
            return false;
        }

        var existUser = false;
        var userOld = $('#ID').val();

        // Chi truong hop dang ki moi thi moi check trung code
        if (userOld == 0) {
            var MenuCd = $('#MenuCd').val();

            var paramCheckExist = {
                MenuCd: MenuCd
            };

            var data = WebDuhoc.utility.getDataByAjax('@Url.Action("CheckExistMenuCode", "ManageMenuContent")', paramCheckExist);
            if (typeof (data) != 'undefined' || data != null) {
                existUser = data.exist;
            } else {
                WebDuhoc.utility.showMessageModal('@string.Format(Message.msgErrorWhenCheckExist)', true);
            }
        }

        var confirmMess = existUser ? '@string.Format(Message.msgConfirmExistMenuCd)' : '@string.Format(Message.ConfirmSubmitData, (Model.ID > 0 ? Message.Update : Message.Register))';
        if (existUser) {
            WebDuhoc.utility.showMessageModal(confirmMess, true);
        } else {
            WebDuhoc.utility.showConfirmModal(confirmMess, function (action) {
                if (action) {
                    var content = CKEDITOR.instances['Menu_Content'].getData();

                    $('#Menu_Content').val(content);

                    $("#formRegis").submit();
                }
            })
        }
    });

    $('#formRegis').submit(function (event) {
        var formData = new FormData($(this)[0]);
        //add the content

        $.ajax(
            {
                url: '@Url.Action("Edit", "ManageMenuContent")',
                data: formData,
                mimeType: "multipart/form-data",
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (res) {
                    //window.parent.$('.ui-dialog-content:visible').dialog('close');
                    var result = jQuery.parseJSON(res);
                    var message = "";
                    if (result.ErrorMessages) {
                        for (var i = 0; i < result.ErrorMessages.length; i++) {
                            message += result.ErrorMessages[i] + "\n";
                        }
                        WebDuhoc.utility.showMessageModal(message, true);
                    } else {
                        message = result.isNew == true ? "@Message.RegisterSuccess" : "@Message.UpdateSuccess                ";
                        WebDuhoc.utility.showMessageModal(message, false, function () {
                            window.location.href = UrlMenuList;
                        });
                    }
                },
                error: function (xhr) {
                    //window.parent.$('.ui-dialog-content:visible').dialog('close');
                    window.location.href = '/Common/Error/';
                }
            });
        event.preventDefault();
    });

    // Button Back
    $(document).off('#btnBack');
    $(document).on('click', '#btnBack', function () {
        WebDuhoc.utility.showConfirmModal('@string.Format(@Message.ConfirmBack)', function (action) {
            if (action) {

                $(window).off('beforeunload');
                window.location.href = UrlMenuList;
            }
        })
    });

</script>
<style>
    #NewsRegister #cke_CONTENT {
        margin-left: 140px;
    }
</style>
