@using Web_Gio_Cha.Models;
@using Web_Gio_Cha.Resources;

@{
    ViewBag.Title = "Reset mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool timeOut = false;
    try
    {
        if (ViewBag.TimeOut != null)
        {
            timeOut = ViewBag.TimeOut;
        }
    }
    catch (Exception)
    {
    }
}
@model UserModel

<div class="background-top"></div>
<div id="Userlogin">
    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { @id = "ResetForm", @class = "horizontal" }))
    {
        <div class="form-group">
            <div class="title" id="title">@ViewBag.Title</div>
            @Html.ValidationSummary(false)

        </div>
        if (ViewBag.sendMailSuccess != null)
        {
            <div class="col-md-12" style="margin-bottom:10px; text-align:center"><span style="color:red">@ViewBag.sendMailSuccess</span></div>
        }
        <div class="Content">
            <div class="form-group">
                <label class="title-row">@AdminLabel.lblEmail <span class="RequiredField">*</span></label>
                @Html.TextBoxFor(m => m.Email, new { @class = "txt-w-250", maxlength = 100, autocomplete = "off" })
            </div>

            <div class="form-group  margin-left-6" style="margin-bottom: 20px">
                @Html.AntiForgeryToken()
                <button type="button" id="btnReset" name="btnReset" class="btn btn-green">Lấy lại mật khẩu</button>
            </div>
        </div>

    }

</div>
<script>
    $(function () {
        WebDuhoc.utility.validFullHalfSize($("#Email"));
        WebDuhoc.utility.imeControl($("#Email"), 'disable');
    })

    // Validate data Login
    function validateData() {
        var invalidMess = [];
        var userEmail = $('#Email').val();

        if (userEmail == null || userEmail.trim() == "") { // required content
            errDisplay = '@AdminLabel.lblEmail' + Constant.ERR_REQUIRED;
            invalidMess.push(errDisplay);
        }
        else if (userEmail.trim().length > 100) {
            invalidMess.push("@string.Format(Message.CheckMaxLength, @AdminLabel.lblEmail, Constant.MAX_EMAIL_LENGTH)");
        }
            // check numberic
        else if (!WebDuhoc.utility.validEmail(userEmail)) {
            invalidMess.push("@string.Format(@Message.IncorrectFormat, @AdminLabel.lblEmail)");
        }

        return invalidMess;

    }

    // Click  login
    $(document).off('#btnReset');
    $(document).on('click', '#btnReset', function () {
        //var result = iseiQ.utility.getDataByAjax(checkTimeOutUrl, null);
        //if (!result) return;
        $('.validation-summary-errors').remove();
        var invalidMess = validateData();

        if (invalidMess.length > 0) {
            ShipOnline.utility.showClientError(invalidMess);
            return false;
        }

        var userEmail = $('#Email').val();

        var paramCheckExist = {
            userEmail: userEmail
        };

        var data = WebDuhoc.utility.getDataByAjax('@Url.Action("CheckExistUserEmail", "Login")', paramCheckExist);
        if (typeof (data) != 'undefined' || data != null) {
            existUser = data.exist;
        }

        if (!existUser) {
            WebDuhoc.utility.showMessageModal('@Message.msgEmailNotExist', true);
            return false;
        } else {
            $("#ResetForm").submit();
        }
    })

</script>

<style>
    #title {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }

    #btnReset {
        text-align: center;
        margin-left: 200px;
    }
</style>