@model List<Web_Gio_Cha.Models.Define.ItemGioHang>
@{
    ViewBag.Title = "Xem Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="view-cart" class="row" border="0" cellspacing="0" cellpadding="0">
    <div class="col-md-12 col-sm-8 col-xs-8 col-xs-12 txt-header">
        <div class="col-md-6 col-sm-6 col-xs-6 col-xs-12"><span class=" black" style="margin-top:10px; font-weight:bold"> GIỎ HÀNG CỦA BẠN</span></div>
    </div>
    @if (Model == null || Model.Count() == 0)
    {
        <p style="font-size:2em;padding:10px;margin:10px"> Giỏ hàng trống! </p>
        <a href="@Url.Action("Index","Home")" style="font-size:2em;padding:10px;margin:10px">Vui lòng quay trở lại trang chủ để mua hàng !! </a>
    }
    else
    {
        <div class="col-md-12 col-sm-8 col-xs-8 col-xs-12 nomargin nopadding">
            <hr style="margin-top:15px; margin-bottom:5px"/>
            <div class="col-md-12 col-sm-8 col-xs-8 col-xs-12 nopadding">
                <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Hình ảnh
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Tên sản phẩm
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Đơn giá
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Số lượng
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Tổng tiền
                </div>
            </div>

            @for (int i = 0; i < Model.Count(); i++)
            {
                var link = "/xem-chi-tiet/" + Model[i].MetaTitle + "/" + Model[i].IdSanPham;

                var imglink = Model[i].HinhAnh != null ? Model[i].HinhAnh : "/Images/demosanpham1.jpg";
                <div class="col-md-12 col-sm-8 col-xs-8 col-xs-12 product-cart nopadding">
                    <input id="IdSanPham" name="ID" type="hidden" value="@Model[i].IdSanPham">

                    <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6">
                        <img class="ImgProduct-view" src="@imglink" title="@Model[i].TenSanPham" alt="giò chả Vân Bảo" style="height:70px" />
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 col-xs-6 nopadding">
                        <a class="col-md-12 left title-product" href="@link" title="@Model[i].TenSanPham">@Model[i].TenSanPham</a>
                        <a class="col-md-12 left delete-cart" href="@Url.Action("XoaGioHang", "GioHang", new { @Id = @Model[i].IdSanPham, @strUrl = Request.Url.ToString() })">Xóa</a>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 nopadding">
                        <p class="bold center money donGia" style="width:100%">@Model[i].DonGia</p>
                        <input id="DonGia" name="DonGia" type="hidden" value="@Model[i].DonGia">
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 quantity">
                        <div style="padding-top:15px;">
                            <button class="btn btn-default touchspin-down col-md-4" type="button">-</button>
                            @Html.TextBoxFor(m => Model[i].SoLuong, new { @class = "qty col-md-4", maxlength = 2, min = 0 })
                            <button class="btn btn-default touchspin-up col-md-4" type="button">+</button>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 nopadding">
                        <p class="bold center money tienHang" style="width:100%">@Model[i].TienHang</p>
                    </div>
                </div>

            }
            <div class="col-md-12 col-sm-4 col-xs-4 col-xs-12 nopadding" style="margin-top:5px">
                <div class="col-md-8 col-sm-6 col-xs-6 col-xs-12">

                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 col-xs-12 nopadding">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-xs-12 nopadding" style="width:50%; font-weight:bold">Tổng tiền:</div>
                    <div class="money moneyTotal col-md-6 col-sm-6 col-xs-6 col-xs-12 nopadding" style="width:50%; color:red; text-align:center">@ViewBag.TongTien</div>
                </div>
            </div>
            <div class="col-md-12 col-sm-4 col-xs-4 col-xs-12" style="margin-bottom:10px">
                <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12 left" style="margin-top:20px">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-12" style="margin-top:20px">
                    <button type ="button" class="" onclick="window.location.href='/trang-chu'" style="height:27px">Tiếp tục mua hàng</button>
                    <button class="btn btn-green" id="btnCartSubmit" onclick="window.location.href='/dat-hang'">Tiến hành đặt hành</button>
                </div>
            </div>
        </div>

    }
</div>
<script>
    //WebDuhoc.utility.validFullHalfSize($(".qty"));
    //WebDuhoc.utility.imeControl($(".qty"), 'disable');

    $(document).ready(function () {
        // Format money
        $(".money").each(function () {
            var data = WebDuhoc.utility.convertIntToMoney($(this).text());
            $(this).text(data);
        });

        $(document).on("input", ".qty", function () {
            this.value = this.value.replace(/\D/g, '');
        });
    });

    $(document).off('.qty');
    $(document).on('change', '.qty', function () {
        var qty = $(this).val();
        if (qty <= 1) {
            $(this).val(1);
        }
        qty = $(this).val();
        var parent = $(this).parents('.product-cart');
        var IdSanPham = parent.find('#IdSanPham').val();

        var data = SaveSessionCart(IdSanPham, qty);
        if (data != null && data.response < 1) {
            $(this).val(1);
            WebDuhoc.utility.showMessageModal("Số lượng hàng còn lại không đủ!", true);
        }
        else if (data != null && data.TongSoLuong > 0) {
            var donGia = WebDuhoc.utility.convertMoneyToInt(parent.find('.donGia').text());
            var tienHang = WebDuhoc.utility.convertIntToMoney(donGia * qty);
            parent.find('.tienHang').text(tienHang);
            $('.moneyTotal').text(WebDuhoc.utility.convertIntToMoney(data.TotalMoney))
        } else {
            WebDuhoc.utility.showMessageModal("Không nhận được phản hồi từ server!", true);
        }
    });

    function SaveSessionCart(Id, qty) {
        var param = {
            Id: Id,
            qty: qty
        }

        var data = WebDuhoc.utility.getDataByAjax('@Url.Action("SaveSessionCart", "GioHang")', param);
        return data;
    };

    $(document).off('.touchspin-down');
    $(document).on('click', '.touchspin-down', function () {
        var parent = $(this).parents('.quantity');
        var qty = parent.find('.qty').val();
        // set gia tri qty
        if (qty <= 1) {
            parent.find('.qty').val(1);
        } else {
            parent.find('.qty').val(parseInt(qty) - 1);
        }
        // Tinh toan lai tien
        qty = parent.find('.qty').val();
        var parentAll = $(this).parents('.product-cart');
        var IdSanPham = parentAll.find('#IdSanPham').val();

        var data = SaveSessionCart(IdSanPham, qty);
        
        if (data != null && data.response < 1) {
            WebDuhoc.utility.showMessageModal("Số lượng hàng còn lại không đủ!", true);
        }
        else if (data != null && data.TongSoLuong > 0) {
            var donGia = WebDuhoc.utility.convertMoneyToInt(parentAll.find('.donGia').text());
            var tienHang = WebDuhoc.utility.convertIntToMoney(donGia * qty);
            parentAll.find('.tienHang').text(tienHang);
            $('.moneyTotal').text(WebDuhoc.utility.convertIntToMoney(data.TotalMoney))
        } else {
            WebDuhoc.utility.showMessageModal("Không nhận được phản hồi từ server!", true);
        }
    });

    $(document).off('.touchspin-up');
    $(document).on('click', '.touchspin-up', function () {
        var parent = $(this).parents('.quantity');
        var qty = parent.find('.qty').val();
        // set gia tri qty
        if (qty < 1) {
            return false;
        } else {
            parent.find('.qty').val(parseInt(qty) + 1);
        }
        // Tinh toan lai tien
        qty = parent.find('.qty').val();
        var parentAll = $(this).parents('.product-cart');
        var IdSanPham = parentAll.find('#IdSanPham').val();
        var data = SaveSessionCart(IdSanPham, qty);

        if (data != null && data.response < 1) {
            parent.find('.qty').val(parseInt(qty) - 1);
            WebDuhoc.utility.showMessageModal("Số lượng hàng còn lại không đủ!", true);
        }
        else if (data != null && data.TongSoLuong > 0) {
            var donGia = WebDuhoc.utility.convertMoneyToInt(parentAll.find('.donGia').text());
            var tienHang = WebDuhoc.utility.convertIntToMoney(donGia * qty);
            parentAll.find('.tienHang').text(tienHang);
            $('.moneyTotal').text(WebDuhoc.utility.convertIntToMoney(data.TotalMoney))
        } else {
            WebDuhoc.utility.showMessageModal("Không nhận được phản hồi từ server!", true);
        }
    });

</script>

<style>
    #view-cart .qty{
        width:30%;
        padding:0px;
        margin:0px;
        text-align:center;
        float:left;
    }

    #view-cart .title-product {
        height: 50px;
        word-break: break-word;
        overflow: hidden;
    }
    .touchspin-down, .touchspin-up{
    display: inline-block;
    height: 28px;
    padding: 3px 8px;
    margin:0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    border-color: #cccccc;
    border-radius: 3px;
    width:30%;
    float:left;
}

</style>

