@using Web_Gio_Cha.Resources;
@using Web_Gio_Cha.Models;
@using PagedList.Mvc;

@model PagedList.PagedList<AdminOrderList>

@{
    ViewBag.Title = AdminLabel.AdminOrderList;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="view-order-list" class="row" border="0" cellspacing="0" cellpadding="0">
    <div class="col-md-12 col-sm-8 col-xs-8 col-xs-12 txt-header">
        <div class="col-md-6 col-sm-6 col-xs-6 col-xs-12"><span class=" black" style="margin-top:10px; font-weight:bold"> ĐƠN HÀNG CỦA BẠN</span></div>
    </div>
    @if (Model == null || Model.Count == 0)
    {
        <p style="font-size:2em;padding:10px;margin:10px"> Đơn hàng trống! </p>
        <a href="@Url.Action("Index","Home")" style="font-size:2em;padding:10px;margin:10px">Vui lòng quay trở lại trang chủ để mua hàng !! </a>
    }
    else
    {
        <div class="col-md-12 col-sm-8 col-xs-8 col-xs-12 nomargin nopadding">
            <hr style="margin-top:15px; margin-bottom:5px"/>
            <div class="col-md-12 col-sm-8 col-xs-8 col-xs-12 nopadding TxtHeader">
                <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Mã đơn hàng
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Ngày mua
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 col-xs-12 th-text">
                    Tên sản phẩm
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Tổng tiền
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 th-text">
                    Trạng thái đơn
                </div>
            </div>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var link = "/chi-tiet-don-hang/" + Model[i].Code;

                <div class="col-md-12 col-sm-8 col-xs-8 col-xs-12 product-cart nopadding">
                    <input id="IdSanPham" name="ID" type="hidden" value="@Model[i].ID">

                    <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 nopadding">
                        <a class="col-md-12 left" href="@link" title="@Model[i].Code">@Model[i].Code</a>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 nopadding">
                        <p class="center" style="width:100%">@Model[i].CREATE_DATE_STRING</p>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-6 col-xs-12 nopadding">
                        <p class="left col-md-12" style="width:100%" title="@Model[i].Product_Name">@Model[i].Product_Name</p>
                    </div>
                    
                    <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 nopadding">
                        <p class="col-md-12 bold right money tongTien" style="width:100%">@Model[i].PriceTotal</p>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6 col-xs-6 nopadding">
                        <p class="center" style="width:100%">@Model[i].ORDER_STATUS_TEXT</p>
                    </div>

                </div>

            }
            <div class="clearfix"></div>
            <div class="dlink" style="margin:5px;padding:10px">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                @Html.PagedListPager(Model, page => @Url.Action("ManageOrderList", new { @page = page }))
            </div>
            
            <div class="col-md-12 col-sm-4 col-xs-4 col-xs-12" style="margin-bottom:10px">
                <div class="col-md-3 col-sm-6 col-xs-6 col-xs-12 left" style="margin-top:20px">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-xs-12" style="margin-top:20px">
                    <button type ="button" class="" onclick="window.location.href='/trang-chu'" style="height:27px">Tiếp tục mua hàng</button>
                </div>
            </div>
        </div>

    }
</div>
<script>
    //WebDuhoc.utility.validFullHalfSize($(".qty"));
    //WebDuhoc.utility.imeControl($(".qty"), 'disable');

    $(document).ready(function () {
        // Format money
        $(".money").each(function () {
            var data = WebDuhoc.utility.convertIntToMoney($(this).text());
            $(this).text(data);
        });

    });

</script>

<style>
    #view-cart .qty{
        width:30%;
        padding:0px;
        margin:0px;
        text-align:center;
        float:left;
    }

    #view-cart .title-product {
        height: 50px;
        word-break: break-word;
        overflow: hidden;
    }
    .touchspin-down, .touchspin-up{
    display: inline-block;
    height: 28px;
    padding: 3px 8px;
    margin:0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ffffff;
    border-color: #cccccc;
    border-radius: 3px;
    width:30%;
    float:left;
}

</style>

