@using Web_Gio_Cha.Models;
@using Web_Gio_Cha.Resources;
@model UserModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div id="RegisterUser" class="edit-screen">
        @using (Html.BeginForm("ChangePassword", "UserAccount", FormMethod.Post, new { id = "formChangePass", enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            <h2 id="title" class="title">@ViewBag.Title</h2>
            <hr />
            <input id="OLD_PASSWORD_HIDDEN" name="OLD_PASSWORD_HIDDEN" type="hidden" value="@Model.Password">

            @Html.HiddenFor(m => m.ID, new { @class = "" })
            @Html.HiddenFor(m => m.del_flg, new { @class = "sp-id" })
            <div class="Content">
                <div class="form-group">
                    <label class="title-row">@AdminLabel.lblEmail <span class="RequiredField">*</span></label>
                    @if (String.IsNullOrEmpty(Model.Email))
                    {
                        @Html.TextBoxFor(m => m.Email, new { @class = "txt-w-250", style = "ime-mode: auto; ", maxlength = 100 })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Email, new { @class = "ime-mode border-none txt-w-250", @readonly = "readonly" })
                    }
                </div>

                <div class="form-group">
                    <label class="title-row">@AdminLabel.lblNewPassword <span class="RequiredField">*</span></label>
                    @Html.PasswordFor(m => m.NEW_PASSWORD, new { @class = "txt-w-250", @maxlength = "32", autocomplete = "off" })
                    <span id="passstrength"></span>
                </div>
                <div class="form-group">
                    <label class="title-row">@AdminLabel.lblRePassword <span class="RequiredField">*</span></label>
                    @Html.PasswordFor(m => m.NEW_PASSWORD_REPEAT, new { @class = "txt-w-250", @maxlength = "32", autocomplete = "off" })
                    <span id="repassstrength"></span>
                </div>
                <div class="form-group note" style="margin-left:140px">
                    ※Mật khẩu phải tối thiểu 6 chữ số.
                    <br />
                    ※Nên đặt mật khẩu với các chữ và số phức tạp!
                    <br />
                    ※Ví dụ: 5D3bYz → OK 123456 → NG
                </div>

                <div class="form-group action-button-bottom">
                    @Html.AntiForgeryToken()
                    @*<button type="button" id="btnReturn" name="Return" class="button return" onclick='window.location = "@Url.Action("Login", "Login")";'><i class="btn-icon btn-back"></i>Quay lại đăng nhập</button>*@

                    <button type="button" id="btnChangePassword" name="btnChangePassword" class="btn btn-orange"><i class="btn-icon btn-edit">@AdminLabel.btnChangePassword</i></button>
                </div>
            </div>
        }

    </div>
</div>

<script>
    var checkTimeOutUrl = '@Url.Action("CheckTimeOut", "Common")';

    var UrlLogin = '@Url.Action("Login", "Login")';
    var UrlHome = '@Url.Action("Index", "Home")';

    $(function () {
        WebDuhoc.utility.validFullHalfSize($("#NEW_PASSWORD"));
        WebDuhoc.utility.imeControl($("#NEW_PASSWORD"), 'disable');
        WebDuhoc.utility.validFullHalfSize($("#NEW_PASSWORD_REPEAT"));
        WebDuhoc.utility.imeControl($("#NEW_PASSWORD_REPEAT"), 'disable');
        var userOld = $('#USER_ID_HIDDEN').val();

    });

    function validateData() {
        var invalidMess = [];
        var newPassword = $('#NEW_PASSWORD').val();
        var rePassword = $('#NEW_PASSWORD_REPEAT').val();
        var oldPassword = $('#OLD_PASSWORD_HIDDEN').val();
        var userOld = $('#USER_ID_HIDDEN').val();

        var errContent = [];
        var errDisplay = [];
        var invalidMess = [];

        // Validate Newpassword
        if (newPassword == null || newPassword.trim() == "") {
            errDisplay = '@AdminLabel.lblNewPassword' + Constant.ERR_REQUIRED;
            invalidMess.push(errDisplay);
        } else if (newPassword.trim().length < Constant.MIN_INPUT_PASS) {
            invalidMess.push("@string.Format(Message.CheckMinLength, UserLabel.lblPassword, Constant.MIN_INPUT_PASS)");
        } else if (newPassword.trim().length > Constant.MAX_INPUT_PASS) {
            invalidMess.push("@string.Format(Message.CheckMaxLength, UserLabel.lblPassword, Constant.MAX_INPUT_PASS)");
        }

        // Validate Newpassword
        if (rePassword == null || rePassword.trim() == "") {
            errDisplay = '@AdminLabel.lblRePassword' + Constant.ERR_REQUIRED;
            invalidMess.push(errDisplay);
        } else if (rePassword.trim().length < Constant.MIN_INPUT_PASS) {
            invalidMess.push("@string.Format(Message.CheckMinLength, UserLabel.lblPassword, Constant.MIN_INPUT_PASS)");
        } else if (rePassword.trim().length > Constant.MAX_INPUT_PASS) {
            invalidMess.push("@string.Format(Message.CheckMaxLength, UserLabel.lblPassword, Constant.MAX_INPUT_PASS)");
        }

        if (invalidMess.length == 0) {
            if (newPassword !== rePassword) {
                invalidMess.push('@string.Format(Message.PasswordNotMatch)');
            }
            @*else if (newPassword == oldPassword) {
                invalidMess.push('@string.Format(Message.PasswordNotChanged)');
            }*@
        }

        return invalidMess;
    }


    $(document).off('#btnChangePassword');
    $(document).on('click', '#btnChangePassword', function () {
        var result = WebDuhoc.utility.getDataByAjax(checkTimeOutUrl, null);
        if (!result) return;

        $('.validation-summary-errors').remove();
        var invalidMess = validateData();
        if (invalidMess.length > 0) {
            WebDuhoc.utility.showClientError(invalidMess);
            return false;
        }

        WebDuhoc.utility.showConfirmModal('@string.Format(Message.msgConfirmChangePassword)', function (action) {
            if (action) {

                var formData = new FormData($('#formChangePass')[0]);
                $.ajax(
                    {
                        url: '@Url.Action("UpdatePassword", "User")',
                        data: formData,
                        mimeType: "multipart/form-data",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        success: function (res) {
                            //window.parent.$('.ui-dialog-content:visible').dialog('close');
                            var result = jQuery.parseJSON(res);
                            if (result.success) {
                                WebDuhoc.utility.showMessageModal('@Message.UpdateSuccess', false, function () {
                                    window.location.href = UrlLogin;

                                });
                            }
                            else {
                                WebDuhoc.utility.showMessageModal("@string.Format(Message.UpdateFailed, "OK")", true);
                            }
                        },
                        error: function (xhr) {
                            //window.parent.$('.ui-dialog-content:visible').dialog('close');
                            window.location.href = '/Common/Error/';
                        }
                    });
                event.preventDefault();
            }
        })
    });


</script>

<style>
    #RegisterUser .form-group {
        margin-left: 0px;
    }

    #RegisterUser #btnChangePassword {
        margin-left: 70px;
    }
</style>
