@using Web_Gio_Cha.Resources;
@using Web_Gio_Cha.Models.Define;

@model CityModel
@{
    ViewBag.Title = AdminLabel.DistrictListTitle;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="CityList">
    <div id="topContent">
        <div id="title">@ViewBag.Title</div>
        @using (Html.BeginForm("Search", "AdminManageDistrict", FormMethod.Post, new { id = "formDistrictSearch", enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            <div id="searchArea" class="clearfix">
                <div class="form-group">
                    <label class="title-row">@AdminLabel.CityName</label>
                    @Html.DropDownListFor(m => m.CITY_ID, Model.CITY_LIST, new { @class = "width-200 padding-left-30  margin-0" })

                </div>

                <div class="form-group">
                    <label class="title-row">@AdminLabel.DistricName</label>
                    @Html.TextBoxFor(m => m.DISTRICT_NAME, new { @class = "txt-w-250", @style = "ime-mode: auto;", maxlength = 50 })

                </div>

                <div class="form-group">
                    @Html.Label(@AdminLabel.lblDelete, new { @for = "del_flg", @class = "title-row" })
                    @if (String.IsNullOrEmpty(Model.del_flg) || Model.del_flg.Equals("0"))
                    {
                        <input id="del_flg" name="del_flg" type="checkbox">
                        <input id="DEL_FLG_HIDDEN" name="del_flg" type="hidden" value="0">
                    }
                    else
                    {
                        <input id="del_flg" name="del_flg" type="checkbox" checked="checked">
                        <input id="DEL_FLG_HIDDEN" name="del_flg" type="hidden" value="1">
                    }
                </div>
            </div>

            <hr />
            <div id="searchAction">
                <div class="pull-right">
                    <button type="button" id="btnSearch" class="btn btn-green"><i class="btn-icon btn-search-white">@AdminLabel.btnSearch</i></button>
                    <button type="button" id="btnClear" class="btn btn-default"><i class="btn-icon btn-clear">@AdminLabel.btnClear</i></button>
                </div>
            </div>
        }
    </div>

    <div id="registButton">
        <form id="frUpdateDistrict" method="POST" action="@Url.Action("DistrictEdit", "ManageDistrict")">
            <input type="hidden" id="hdnDistrictCd" name="DistrictCd" value="0" />
        </form>

        <button type="button" id="btnRegister" name="btnRegister" class="btn btn-orange"><i class="btn-icon btn-regist"></i>@AdminLabel.btnRegister</button>
    </div>

    <hr />

    <div id="mainContent">
        <table id="InfoTable" class="dataTable cellspacing= " 0">
            <thead>
                <tr>
                    <th></th>
                    <th>STT</th>
                    <th>@AdminLabel.DistricName</th>
                    <th>@AdminLabel.PriceShip</th>
                    <th>@AdminLabel.CityDisplay</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



<script>
    var UrlDistrictRegister = '@Url.Action("DistrictEdit", "ManageDistrict")';
    var UrlDistrictList = '@Url.Action("DistrictList", "ManageDistrict")';
    var checkTimeoutUrl = '@Url.Action("CheckTimeOut", "Common")';

    var dataTable = null;
    var sort_colum = 0;
    var sort_type = 'asc';
    var deletelink = "Xóa";
    var DISTRICT_ID = 0;
    var ORDER = 1;
    var DISTRICT_NAME = 2;
    var PRICE_SHIP = 3;
    var STATUS = 4;
    var DELETE = 5;

    var rows_checked_list = [];

    $(function () {
        var oSorting = {
            "bSort": false
        };

        var oPaginate = {
            "bPaginate": true,
            "iDisplayLength": 10, // setup amount record
            "bStateSave": false
        };

        var oServerSide = {
            "bServerSide": true,
            "sAjaxSource": '@Url.Action("List", "ManageDistrict")',
            "fnServerParams": serverParams,
            "fnInitComplete": displayComplete,
            "fnDrawCallback": drawCallback,
            "autoWidth": false,
            "info": false
        };
        // Content in table
        var aoColumnDefs = [
             { "sName": "DISTRICT_ID", "bVisible": false, "aTargets": [DISTRICT_ID] },
             { "bSortable": false, "aTargets": [ORDER], "sWidth": "10%", "sClass": "cell_center order text-overflow", "sName": "ORDER" },
             {
                 "bSortable": false, "aTargets": [DISTRICT_NAME], "sWidth": "10%", "sClass": "cell_center",
                 "mRender": function (data, type, full) { return buildActionLink(full[DISTRICT_ID], full[DISTRICT_NAME]); }
             },
             {
                 "bSortable": false, "aTargets": [PRICE_SHIP], "sWidth": "10%", "sClass": "cell_center",
                 "mRender": function (data, type, full) { return formatMoney(full[PRICE_SHIP]) }
             },
             { "bSortable": false, "aTargets": [STATUS], "sWidth": "10%", "sClass": "cell_center" },

             { "bSortable": false, "aTargets": [DELETE], "sWidth": "10%", "sClass": "cell_center", "mRender": function (data, type, full) { return bindDeleteElement(full[DISTRICT_ID], 'delete-district-link btn btn-red', deletelink); } }

        ];

        // Tham so search input
        function serverParams(aoData) {
            aoData.push(
                { "name": "CITY_ID", "value": $("#CITY_ID").val() },
                { "name": "DISTRICT_NAME", "value": $("#DISTRICT_NAME").val() },
                { "name": "del_flg", "value": $("#DEL_FLG_HIDDEN").val() }
            );
        }

        function displayComplete(data) {
            dataList = data.aaData;

            if (sort_colum == 0) {
                $('#InfoTable tr th:not(.sorting_disabled)').removeClass('sorting_asc sorting_desc').addClass('sorting').removeAttr('aria-sort');
            }
        }

        function formatMoney(money) {
            var money = WebDuhoc.utility.convertIntToMoney(money);
            return money + " VND";
        }

        function drawCallback() { }

        function buildActionLink(id, content) {
            var html = '';
            {
                html += '<a class="DistrictEdit districtCd link" data-districtcd="' + id + '">' + content + '</a>';
            }
            return html;
        }

        function bindDeleteElement(id, className, label) {
            return '<a class="' + className + '" data-districtcd="' + id + '">' + label + '</a>';
        }

        dataTable = CreateDataTable('#InfoTable', oSorting, oPaginate, oServerSide, aoColumnDefs);

    });

    $(function () {
        $("#del_flg").prop('checked', false).change();
        $('#DEL_FLG_HIDDEN').val('0');

    });

    $(document).off('#del_flg');
    $(document).on('change', '#del_flg', function () {
        if ($('#del_flg').is(":checked")) {
            $('#DEL_FLG_HIDDEN').val('1');
        } else {
            $('#DEL_FLG_HIDDEN').val('0');
        }
        searchDistrict();
    });

    $(document).off('#CITY_ID');
    $(document).on('change', '#CITY_ID', function () {

        searchDistrict();
    });

    // Button Search
    $(document).off('#btnSearch');
    $(document).on('click', '#btnSearch', function () {
        if (!WebDuhoc.utility.getDataByAjax(checkTimeoutUrl, null)) return;

        searchDistrict();
    });

    function searchDistrict() {

        dataTable.fnPageChange('first');
    }

    // Click Button Clear
    $(document).off('#btnClear');
    $(document).on('click', '#btnClear', function () {
        if (!WebDuhoc.utility.getDataByAjax(checkTimeoutUrl, null)) return;

        $("#DEL_FLG").prop('checked', false).change();
        $('#DEL_FLG_HIDDEN').val('0');

        $("#CITY_CD").val(0);
        $("#DISTRICT_NAME").val("");

        searchDistrict();
    })

    // Click redirect to Employee Register
    $(document).off('#btnRegister');
    $(document).on('click', '#btnRegister', function () {
        window.location.href = UrlDistrictRegister; // Redirect to other Url

    })
    // click link edit
    $(document).off('.DistrictEdit');
    $(document).on('click', '.DistrictEdit', function () {
        if (!WebDuhoc.utility.getDataByAjax(checkTimeoutUrl, null)) return;

        $('#hdnDistrictCd').val($(this).data('districtcd'));

        $('#frUpdateDistrict').submit();
    });

    // Click link delete   delete-Account-link
    $(document).off('.delete-district-link');
    $(document).on('click', '.delete-district-link', function () {
        if (!WebDuhoc.utility.getDataByAjax(checkTimeoutUrl, null)) return;

        var districtId = $(this).data('districtcd');

        if (districtId == '') return;

        WebDuhoc.utility.showConfirmModal('@string.Format(@Message.ConfirmDelete, "quận/huyện")', function (action) {
            if (action) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '@Url.Action("DeleteDistrict")',
                    data: { DISTRICT_ID: districtId },
                    success: function (data) {
                        WebDuhoc.utility.showMessageModal("@string.Format(Message.DeleteSuccess)", true);
                        dataTable.fnStandingRedraw();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        WebDuhoc.utility.showMessageModal("@string.Format(Message.ConfirmDeleteError)", true);
                    }
                });
            }
        });
    });

</script>

<style>
    #CityList {
        margin: 25px;
    }
</style>