@using Web_Gio_Cha.Resources;
@using Web_Gio_Cha.Models.Define;

@model CityModel
@{
    ViewBag.Title = AdminLabel.DistrictRegisterTitle;
    if (@Model.ID != null && @Model.ID > 0)
    {
        ViewBag.Title = AdminLabel.DistricUpdateTitle;
    }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="CityRegister" class="edit-screen">
    @using (Html.BeginForm("Edit", "ManageDistrict", FormMethod.Post, new { id = "formDistrictRegis", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div id="title">@ViewBag.Title</div>
        <input id="DISTRICT_ID_HIDDEN" name="DISTRICT_ID_HIDDEN" type="hidden" value="@Model.ID">
        @Html.HiddenFor(m => m.del_flg, new { @class = "sp-id" })
        <div class="form-group">
            <label class="title-row">@AdminLabel.CityName <span class="RequiredField">*</span></label>
            @if (Model.CITY_ID == 0)
            {
                @Html.DropDownListFor(m => m.CITY_ID, Model.CITY_LIST, new { @class = "width-200 padding-left-30  margin-0" })

            }
            else
            {
                @Html.Label("Hà Nội", new { @class = "margin-left-5 readonly" })
                @Html.HiddenFor(m => m.CITY_ID)
            }
        </div>
        <div class="form-group">
            <label class="title-row">@AdminLabel.Level <span class="RequiredField">*</span></label>
            @Html.DropDownListFor(m => m.Level, new SelectList(Level_City.Items, "Key", "Value"), new { @class = "no-margin" })
        </div>

        <div class="form-group">
            <label class="title-row">@AdminLabel.DistricCode <span class="RequiredField">*</span></label>
            @if (Model.ID == 0)
            {
                @Html.TextBoxFor(m => m.ID, new { @class = "txt-w-250 numeric", style = "ime-mode: auto; ", maxlength = 5 })
            }
            else
            {
                @Html.TextBoxFor(m => m.ID, new { @class = "ime-mode border-none txt-w-250 disabled", @readonly = "readonly" })
            }
        </div>

        <div class="form-group">
            <label class="title-row">@AdminLabel.DistricName <span class="RequiredField">*</span></label>
            @Html.TextBoxFor(m => m.Name, new { @class = "txt-w-250", maxlength = 50 })
        </div>

    <div class="form-group">
        <label class="title-row">@AdminLabel.PriceShip <span class="RequiredField">*</span></label>
        @Html.TextBoxFor(m => m.PriceShip, new { @class = "txt-w-250 money", maxlength = 9 })
        <span>VND</span>
    </div>

        <div class="form-group">
            @Html.Label(@AdminLabel.lblStatus, new { @for = "STATUS", @class = "title-row" })
            @if (Model.Status == null || Model.Status == false)
            {
                <input id="Status" type="checkbox">
                <input id="STATUS_HIDDEN" name="Status" type="hidden" value="false">
            }
            else
            {
                <input id="Status" type="checkbox" checked="checked">
                <input id="STATUS_HIDDEN" name="Status" type="hidden" value="true">
            }
        </div>

        <div class="form-group action-button-bottom">
            <button type="button" id="btnBack" name="btnBack" class="btn btn-default"><i class="btn-icon btn-back">@AdminLabel.btnBack</i></button>
            <div class="pull-right">
                <button type="button" id="btnClear" name="btnClear" class="btn btn-default"><i class="btn-icon btn-clear">@AdminLabel.btnClear</i></button>
                <button type="button" id="btnSubmit" name="btnSubmit" class="btn btn-orange"><i class="btn-icon btn-edit">@AdminLabel.btnRegister</i></button>
            </div>
        </div>
    }

</div>

<script>

    var DistrictListUrl = '@Url.Action("DistrictList", "ManageDistrict")';
    var checkTimeoutUrl = '@Url.Action("CheckTimeOut", "Common")';
    WebDuhoc.utility.formatMoney();
    $(function () {
        var oldDistrict = $('#DISTRICT_ID_HIDDEN').val();
        if (oldDistrict == 0) {
            $("#Status").prop('checked', true).change();
            $('#STATUS_HIDDEN').val(true);

        }
    });

    function validateData() {
        var invalidMess = [];
        var cityCD = $('#CITY_ID').val();
        var districtCode = $('#ID').val();
        var districtName = $('#Name').val();

        var displayFlg = $('#Status').val();
        var errContent = [];
        var errDisplay = [];
        var invalidMess = [];

        if (cityCD == null || cityCD.trim() == "" || cityCD == 0) { // required content
            errDisplay = '@AdminLabel.CityName' + Constant.ERR_REQUIRED;
            invalidMess.push(errDisplay);
        }

        if (districtCode == null || districtCode.trim() == "" || districtCode == 0) {
            errDisplay = '@AdminLabel.DistricCode' + Constant.ERR_REQUIRED;
            invalidMess.push(errDisplay);
        }

        if (districtName == null || districtName.trim() == "") {
            errDisplay = '@AdminLabel.DistricName' + Constant.ERR_REQUIRED;
            invalidMess.push(errDisplay);
        }
        else if (districtName.trim().length > Constant.CITY_NAME_LENGTH) {
            invalidMess.push("@string.Format(Message.DistrictNameLength, AdminLabel.DistricName)");
        }

        return invalidMess;
    }

    $(document).off('#Status');
    $(document).on('change', '#Status', function () {
        if ($('#Status').is(":checked")) {
            $('#STATUS_HIDDEN').val(true);
        } else {
            $('#STATUS_HIDDEN').val(false);
        }
    });

    $(document).off('#btnSubmit');
    $(document).on('click', '#btnSubmit', function () {
        if (!WebDuhoc.utility.getDataByAjax(checkTimeoutUrl, null)) return;

        $('.validation-summary-errors').remove();
        var invalidMess = validateData();
        if (invalidMess.length > 0) {
            WebDuhoc.utility.showClientError(invalidMess);
            return false;
        }

        var existDistrictCD = false;
        //var cityCd = $('#CITY_ID').val().trim();
        //var districtCd = $('#DISTRICT_CD').val().trim();
        //var districtCdOld = $('#DISTRICT_CD_HIDDEN').val().trim();
        //var paramCheckExistCd = {
        //    cityCd: cityCd,
        //    districtCd: districtCd,
        //    districtCdOld: districtCdOld
        //};

        @*if (cityCd.length > 0) {
            var data = WebDuhoc.utility.getDataByAjax('@Url.Action("CheckExistDistrictCd", "AdminManageDistrict")', paramCheckExistCd);
            if (typeof (data) != 'undefined' || data != null) {
                existDistrictCD = data.exist;
            }
        }*@

        var value = $('#PriceShip').val();
        if (value.length > 0) {
            var price = WebDuhoc.utility.convertMoneyToInt(value, true);
        }
        $('#PriceShip').val(price);

        $("#formDistrictRegis").submit();
        @*var confirmMess = existDistrictCD ? '@string.Format(Message.msgConfirmExistDistrictCd)' : '@string.Format(Message.ConfirmSubmitData, (Model.DISTRICT_CD > 0 ? Message.Update : Message.Register))';
        if (existDistrictCD) {
            WebDuhoc.utility.showMessageModal(confirmMess, true);
        } else {
            WebDuhoc.utility.showConfirmModal(confirmMess, function (action) {
                if (action) {
                    $("#formDistrictRegis").submit();
                }
            })
        }*@

    });

    $('#formDistrictRegis').submit(function (event) {
        var formData = new FormData($(this)[0]);
        $.ajax(
            {
                url: '@Url.Action("Edit", "ManageDistrict")',
                data: formData,
                mimeType: "multipart/form-data",
                type: 'POST',
                contentType: false,
                processData: false,
                success: function (res) {
                    //window.parent.$('.ui-dialog-content:visible').dialog('close');
                    var result = jQuery.parseJSON(res);
                    var message = "";
                    if (result.ErrorMessages) {
                        for (var i = 0; i < result.ErrorMessages.length; i++) {
                            message += result.ErrorMessages[i] + "\n";
                        }
                        WebDuhoc.utility.showMessageModal(message, true);
                    } else {
                        message = result.isNew == true ? "@Message.RegisterSuccess" : "@Message.UpdateSuccess";
                        WebDuhoc.utility.showMessageModal(message, false, function () {
                            window.location.href = DistrictListUrl;
                        });
                    }
                },
                error: function (xhr) {
                    window.parent.$('.ui-dialog-content:visible').dialog('close');
                    window.location.href = '/Common/Error/';
                }
            });
        event.preventDefault();
    });

    $(document).off('#btnClear');
    $(document).on('click', '#btnClear', function () {
        if (!WebDuhoc.utility.getDataByAjax(checkTimeoutUrl, null)) return;

        WebDuhoc.utility.showConfirmModal('@string.Format(@Message.ConfirmClear)', function (action) {
            $('.validation-summary-errors').remove();
            if (action) {
                if ($('#CITY_ID').val() == 0) {
                    $("#CITY_ID").val(0);
                    $("#ID").val(0);
                    $("#Name").val('');

                    $("#Status").prop('checked', true).change();
                    $('#STATUS_HIDDEN').val('1');

                } else {
                    $("#CITY_ID").val('@Model.CITY_ID');
                    $("#ID").val(@Model.ID);
                    $("#Name").val('@Model.Name');

                    $("#STATUS_HIDDEN").val('@Model.Status').change();
                    if ('@Model.Status' == '0') {
                        $("#STATUS").prop("checked", false);
                    } else {
                        $("#STATUS").prop("checked", true);
                    }

                }
            }
        })
    });

    // Button Back
    $(document).off('#btnBack');
    $(document).on('click', '#btnBack', function () {
        if (!WebDuhoc.utility.getDataByAjax(checkTimeoutUrl, null)) return;

        WebDuhoc.utility.showConfirmModal('@string.Format(@Message.ConfirmBack)', function (action) {
            if (action) {

                $(window).off('beforeunload');
                window.location.href = DistrictListUrl;
            }
        })
    });

</script>




